<li id="event-<%= event.id %>">
   <span class="name"><%= link_to event.name, event %></span>
   <span class="memo"><%= event.memo %></span>
  <span class="timestamp">
    created <%= time_ago_in_words(event.created_at) %> ago.
  </span>
<!--    <% if current_user?(event.user) %>
      <%= link_to "delete", event, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>-->
</li>
