<% provide(:title, 'イベント作成') %>
<h1>イベント作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@event, url:event_create_path) do |f| %>
     <%= render 'shared/error_messages_for_event_create'%>
      <%= f.label "イベント名" %>
      <%= f.text_field :name, class:'form-control'%>

      <%= f.label "memo" %>
      <%= f.text_field :memo, class:'form-control' %>

      <%= f.submit "Create Event", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
